@include media-md {
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;


        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: $primary-color;
            text-align: center;


            &-item {
                display: inline;
                padding: 1rem;
                border: 1px solid $secondary-color;
                border-top: none;
                border-bottom: none;
            }

            &-link {
                font-size: 1.5rem;
                color: white;
            }
        }
    }

    .about-bio {
        font-size: 2rem;
    }

    .projects {
        &-items {
            grid-template-columns: repeat(2, 1fr);
        }
        .text-secondary {
            font-size: 2rem;
        }
    } 

    p {
        font-size: 1rem;
    }
}

